In [2]:
import pandas as pd
data1 = pd.read_csv("./new_train_clean.csv")
#data2 = pd.read_csv("./happiness_train_abbr.csv")

In [5]:
def transform_str(strs):
    strs = strs[:-2]
    list = strs.split("; ")
    dic = {}
    for i in list:
        dic[int(i.split(" = ")[0])]=i.split("= ")[1]
    return dic
strs = "1 = 上海市; 2 = 云南省; 3 = 内蒙古自治区; 4 = 北京市; 5 = 吉林省; 6 = 四川省; 7 = 天津市; 8 = 宁夏回族自治区; 9 = 安徽省; 10 = 山东省; 11 = 山西省; 12 = 广东省; 13 = 广西壮族自治区; 14 = 新疆维吾尔自治区; 15 = 江苏省; 16 = 江西省; 17 = 河北省; 18 = 河南省; 19 = 浙江省; 20 = 海南省; 21 = 湖北省; 22 = 湖南省; 23 = 甘肃省; 24 = 福建省; 25 = 西藏自治区; 26 = 贵州省; 27 = 辽宁省; 28 = 重庆市; 29 = 陕西省; 30 = 青海省; 31 = 黑龙江省; "
dic = transform_str(strs)
dic

{1: '上海市',
 2: '云南省',
 3: '内蒙古自治区',
 4: '北京市',
 5: '吉林省',
 6: '四川省',
 7: '天津市',
 8: '宁夏回族自治区',
 9: '安徽省',
 10: '山东省',
 11: '山西省',
 12: '广东省',
 13: '广西壮族自治区',
 14: '新疆维吾尔自治区',
 15: '江苏省',
 16: '江西省',
 17: '河北省',
 18: '河南省',
 19: '浙江省',
 20: '海南省',
 21: '湖北省',
 22: '湖南省',
 23: '甘肃省',
 24: '福建省',
 25: '西藏自治区',
 26: '贵州省',
 27: '辽宁省',
 28: '重庆市',
 29: '陕西省',
 30: '青海省',
 31: '黑龙江省'}

In [6]:
def transform_data(old_data,new_data):
    new_data["幸福程度"] = old_data["happiness"]
    new_data["样本类型"] = old_data["survey_type"].replace([1,2],["农村","城市"])
    new_data["省份"] = old_data["province"].replace({1:"上海市", 2:"云南省", 3:"内蒙古自治区", 4:"北京市", 5:"吉林省", 6:"四川省", 7:"天津市", 8:"宁夏回族自治区", 9:"安徽省", 10:"山东省",
                                                 11:"山西省", 12:"广东省", 13:"广西壮族自治区", 14:"新疆维吾尔自治区", 15:"江苏省", 16:"江西省", 17:"河北省", 18:"河南省", 19:"浙江省", 
                                                 20:"海南省", 21:"湖北省", 22:"湖南省",23:"甘肃省", 24:"福建省", 25:"西藏自治区", 26:"贵州省", 27:"辽宁省", 28:"重庆市", 29:"陕西省", 
                                                 30:"青海省", 31:"黑龙江省"})
    #old_data.drop(columns=["city"],axis=1,inplace=True)
    #old_data.drop(columns=["county"],axis=1,inplace=True)
    new_data["调查时间"] = pd.to_datetime(old_data["survey_time"].apply(lambda x : x.split( )[0]))
    new_data["性别"] = old_data["gender"].replace([1,2],["男","女"])
    
    #new_data["出生日期"] = old_data["birth"]
    new_data["年龄段"] = pd.cut(x=old_data["birth"],bins=[1920,1950,1960,1970,1980,1990,1997],labels=["65-95",
                      "55-65","45-55","35-45","25-35","18-25"])
    
    new_data["民族"] = old_data["nationality"].replace({1:"汉", 2:"蒙", 3:"满", 4:"回", 5:"藏", 6:"壮", 7:"维", 8:"其他"})
    new_data["宗教信仰"] = old_data["religion"].replace([0,1],["否","是"])
    new_data["宗教活动频率"] = old_data["religion_freq"].replace({1:"从来没有参加过", 2:"一年不到1次", 3:"一年大概1到2次", 4:"一年几次", 5:"大概一月1次", 6:"一月2到3次", 7:"差不多每周都有", 8:"每周都有", 9:"一周几次"})
    new_data["最高受教育程度"] = old_data["edu"].replace({1:"没有受过任何教育", 2:"私塾、扫盲班", 3:"小学", 4:"初中", 5:"职业高中", 6:"普通高中", 7:"中专", 8:"技校", 9:"大学专科(成人高等教育)", 10:"大学专科(正规高等教育)", 11:"大学本科", 12:"大学本科", 13:"研究生及以上", 14:"其他"})
    new_data["全年个人总收入"] = pd.cut(x=old_data["income"],bins=[-1,5000,10000,20000,50000,100000,200000,9999999999],
                               labels=["0-5000","5000-10000","10000-20000","20000-50000","50000-100000","100000-200000","200000以上"])
    #new_data["全年个人总收入"] = old_data["income"].astype("object") 
    new_data["政治面貌"] = old_data["political"].replace([1,2,3,4],["群众","共青团员","民主党派","共产党员"])
    
    new_data["住房面积"] = pd.cut(x=old_data["floor_area"],bins=[0,100,200,300,400,2000],labels=["0-100","100-200","200-300","300-400","400以上"])
    #new_data["住房面积"] = old_data["floor_area"].astype("object")
    
    new_data["身高"] = pd.cut(x=old_data["height_cm"],bins=[0,150,160,170,180,190,200],labels=["150以下","150-160","160-170","170-180","180-190","190以上"])
    #new_data["身高"] = old_data["height_cm"].astype("object")
    
    new_data["体重"] = pd.cut(x=old_data["weight_jin"],bins=[0,80,100,120,140,160,300],labels=["80以下","80-100","100-120","120-140","140-160","160以上"])
    #new_data["体重"] = old_data["weight_jin"].astype("object")
    
    new_data["健康状况"] = old_data["health"].replace({1:"很不健康", 2:"比较不健康", 3:"一般", 4:"比较健康", 5:"很健康"})
    new_data["健康问题影响频率"] = old_data["health_problem"].replace({1:"总是", 2:"经常", 3:"有时", 4:"很少", 5:"从不"})
    new_data["抑郁沮丧"] = old_data["depression"].replace({1:"总是", 2:"经常", 3:"有时", 4:"很少", 5:"从不"})
    new_data["户口"] = old_data["hukou"].replace({1:"农业户口", 2:"非农业户口", 3:"蓝印户口", 4:"居民户口(以前是农业户口)", 5:"居民户口(以前是非农业户口)" ,6:"军籍", 7:"没有户口", 8:"其他"})
    new_data["空闲社交"] = old_data["socialize"].replace({1:"从不", 2:"很少", 3:"有时", 4:"经常", 5:"非常频繁"})
    new_data["空闲放松"] = old_data["relax"].replace({1:"从不", 2:"很少", 3:"有时", 4:"经常", 5:"非常频繁"})
    new_data["空闲学习"] = old_data["learn"].replace({1:"从不", 2:"很少", 3:"有时", 4:"经常", 5:"非常频繁"})
    new_data["社会公平性"] = old_data["equity"].replace({1:"完全不公平", 2:"比较不公平", 3:"说不上公平但也不能说不公平", 4:"比较公平", 5:"完全公平"})
    new_data["社会阶级"] = old_data["class"].astype("object").astype("object")
    new_data["工作经历"] = old_data["work_exper"].replace({1:"目前从事非农工作", 2:"目前务农(曾经有过非农工作)", 3:"目前务农(没有过非农工作)", 4:"目前没有工作(而且只务过农)", 5:"目前没有工作，曾经有过非农工作", 6:"从未工作过"})
    new_data["工作状况"] = old_data["work_status"].replace({1:"自己是老板(或者是合伙人)", 2:"个体工商户", 3:"受雇于他人(有固定雇主)", 4:"劳务工/劳务派遣人员", 5:"零工、散工(无固定雇主的受雇者)", 6:"在自己家的生意/企业中工作/帮忙(不领工资)", 7:"在自己家的生意/企业中工作/帮忙(不领工资)", 8:"自由职业者", 9:"其他"})
    new_data["工作年限"] =  old_data["work_yr"].astype("object")
    new_data["工作性质"] = old_data["work_type"].replace({1:"全职工作", 2:"非全职工作"})
    new_data["工作管理活动情况"] = old_data["work_manage"].replace({1:"只管理别人(不受别人管理)", 2:"既管理别人(又受别人管理)", 3:"只受别人管理(不管理别人)", 4:"既不管理别人(又不受别人管理)"})
    
    #new_data["全年家庭收入"] = old_data["family_income"]
    new_data["全年家庭总收入"] = pd.cut(x=old_data["family_income"],bins=[-1,5000,10000,20000,50000,100000,200000,9999999999],
                               labels=["0-5000","5000-10000","10000-20000","20000-50000","50000-100000","100000-200000","200000以上"])
    
    new_data["家庭常住人口"] = old_data["family_m"].astype("object")
    new_data["家庭经济档位"] = old_data["family_status"].replace({1:"远低于平均水平",2:"低于平均水平",3:"平均水平",4:"高于平均水平",5:"远高于平均水平"})
    new_data["家庭房产"] = old_data["house"].astype("object")
    new_data["家用汽车"] = old_data["car"].replace({1:"有", 2:"没有"})
    new_data["婚姻状况"] = old_data["marital"].replace({1:"未婚", 2:"同居", 3:"初婚有配偶", 4:"再婚有配偶", 5:"分居未离婚", 6:"离婚", 7:"丧偶" })
    new_data["社会经济地位（相比同龄人）"] = old_data["status_peer"].replace({1:"较高", 2:"差不多", 3:"较低"})
    new_data["社会经济地位（相比三年前）"] = old_data["status_3_before"].replace({1:"上升了", 2:"差不多", 3:"下降了" })
    new_data["与大众重要事情观点"] = old_data["view"].replace({1:"一致的时候非常少", 2:"一致的时候比较少", 3:"一般", 4:"一致的时候比较多", 5:"一致的时候非常多"})
    new_data["收入是否合理"] = old_data["inc_ability"].replace({1:"非常合理", 2:"合理", 3:"不合理", 4:"非常不合理"})

In [7]:
data1

,Unnamed: 0,id,happiness,survey_type,province,city,county,survey_time,gender,birth,...,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
0,0,1,4,1,12,32,59,2015/8/4 14:18,1,1959,...,60000.0,2,2,1,2,3,3,2,4,3
1,1,2,4,2,18,52,85,2015/7/21 15:04,1,1992,...,40000.0,3,4,1,2,1,1,1,4,2
2,2,3,4,2,29,83,126,2015/7/21 13:24,2,1967,...,8000.0,3,3,1,2,3,2,1,4,2
3,3,4,5,2,10,28,51,2015/7/25 17:33,2,1943,...,12000.0,3,3,1,1,7,2,1,3,2
4,4,5,4,1,7,18,36,2015/8/10 9:50,2,1994,...,-2.0,4,3,1,1,1,3,2,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7959,7995,7996,2,2,29,82,124,2015/7/21 19:36,1,1981,...,50000.0,1,3,0,1,3,1,2,2,3
7960,7996,7997,3,1,12,32,61,2015/7/31 16:00,2,1945,...,19200.0,1,2,1,2,7,2,1,5,2
7961,7997,7998,4,1,16,46,78,2015/8/1 17:48,2,1967,...,-2.0,3,2,1,2,3,3,1,4,2
7962,7998,7999,3,1,1,1,8,2015/9/22 18:52,2,1978,...,170000.0,1,3,3,2,1,2,1,4,2
7963,7999,8000,4,1,1,1,3,2015/9/28 20:22,2,1991,...,48000.0,1,3,1,2,1,2,2,3,3

In [9]:
new_data = pd.DataFrame()

In [10]:
transform_data(data1,new_data)

In [11]:
new_data

,幸福程度,样本类型,省份,调查时间,性别,年龄段,民族,宗教信仰,宗教活动频率,最高受教育程度,...,全年家庭总收入,家庭常住人口,家庭经济档位,家庭房产,家用汽车,婚姻状况,社会经济地位（相比同龄人）,社会经济地位（相比三年前）,与大众重要事情观点,收入是否合理
0,4,农村,广东省,2015-08-04,男,55-65,汉,是,从来没有参加过,大学本科,...,50000-100000,2,低于平均水平,1,没有,初婚有配偶,较低,差不多,一致的时候比较多,不合理
1,4,城市,河南省,2015-07-21,男,18-25,汉,是,从来没有参加过,大学本科,...,20000-50000,3,高于平均水平,1,没有,未婚,较高,上升了,一致的时候比较多,合理
2,4,城市,陕西省,2015-07-21,女,45-55,汉,否,一年大概1到2次,初中,...,5000-10000,3,平均水平,1,没有,初婚有配偶,差不多,上升了,一致的时候比较多,合理
3,5,城市,山东省,2015-07-25,女,65-95,汉,是,从来没有参加过,小学,...,10000-20000,3,平均水平,1,有,丧偶,差不多,上升了,一般,合理
4,4,农村,天津市,2015-08-10,女,18-25,汉,是,从来没有参加过,大学本科,...,NaN,4,平均水平,1,有,未婚,较低,差不多,一般,合理
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7959,2,城市,陕西省,2015-07-21,男,25-35,汉,是,从来没有参加过,初中,...,20000-50000,1,平均水平,0,有,初婚有配偶,较高,差不多,一致的时候比较少,不合理
7960,3,农村,广东省,2015-07-31,女,65-95,汉,是,从来没有参加过,没有受过任何教育,...,10000-20000,1,低于平均水平,1,没有,丧偶,差不多,上升了,一致的时候非常多,合理
7961,4,农村,江西省,2015-08-01,女,45-55,汉,是,从来没有参加过,小学,...,NaN,3,低于平均水平,1,没有,初婚有配偶,较低,上升了,一致的时候比较多,合理
7962,3,农村,上海市,2015-09-22,女,35-45,汉,是,从来没有参加过,大学本科,...,100000-200000,1,平均水平,3,没有,未婚,差不多,上升了,一致的时候比较多,合理
7963,4,农村,上海市,2015-09-28,女,18-25,汉,是,从来没有参加过,大学专科(正规高等教育),...,20000-50000,1,平均水平,1,没有,未婚,差不多,差不多,一般,不合理

In [12]:
new_data.to_csv("./new_train.csv")